.example-icon {
  padding: 0 14px;
}
/* #docregion toolbar-position-content-style */
.example-spacer {
  flex: 1 1 auto;
}
/* #enddocregion toolbar-position-content-style */

.mat-toolbar-row,
.mat-toolbar-single-row {
  gap: 1rem;
  background: blueviolet;
  padding: 3rem 1rem;
}
